*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html {
  font-family: $font;
}

a {
  color: $primary-purple;
  text-decoration: none;
}

button {
  font-family: $font !important;
}

.log-in {
  font-size: 16px;
}

.success {
  color: $success-green;
}

.error {
  color: $error-red;
}

.bg-dark {
  background-color: $dark;
}

.w-1440 {
  display: block;
  max-width: 1488px;
  margin: 0 auto;
  padding: 0 24px;
}

.pos-relative {
  position: relative;
}
